@import './assets/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    color: $primary-color;

    * {
        font-family: $font-family !important;   
    }
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 400px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-color;
    border-radius: 8px;
    box-shadow:  24px 24px 63px #0a0a0a, -24px -24px 63px #282828;
    padding: 32px;
    font-family: $font-family;

    h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 24px;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
            width: 100%;
            background-color: $white-color;
            border-radius: 8px;
            border: 1px solid $white-color;
            outline: none;
            padding: 8px 12px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 16px;
            transition: 0.5s;

            &::placeholder {
                color: $gray-color;
            }

            &:focus {
                background-color: $white-shadow;
                color: $input-color;
            }
        }

        .group-btn {
            margin-top: 24px;
            
            button {
                cursor: pointer;
                border-radius: 4px;
                border: none;
                color: $dark-color;
                font-size: 18px;
                font-weight: 700;
                padding: 8px 16px;
                transition: 0.5s;
            }

            .convert {
                background-color: $primary-color;

                &:hover {
                    background-color: $primary-shadow;
                }
            }
            .exchange {
                background-color: $white-color;

                &:hover {
                    background-color: $white-shadow;
                }
            }
        }
    }
}

#error {
    align-self: flex-start;
    color: $error-color;
    font-size: 14px;
    margin-top: -12px;
    margin-bottom: 4px;
}

.error {
    border: 1px solid $error-color !important;
    color: $error-color !important;
}